@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');


body {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 0;
    flex: 0 0 50px;
}

.footer {
    display: flex;
    justify-content: center;
    flex: 0 0 10px;
}

.footer p {
    text-align: center;
}


header,
footer {
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}


a {
    text-decoration: none;
}

a,
footer,
.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 10px;
}

.hero-main-text {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

/* 
.Hero-section {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    flex-flow: wrap;
    flex: 0 0 350px;
}
/* 

/* 
.hero-left {
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 400px;
}

.hero-right {
    display: flex;
    flex: 0 0 400px;
}

.hero-pic {
    background-color: gray;
    height: 250px;
    flex: 0 0 400px;
}
*/
button {
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    border-color: #3882F6;
    padding: 8px;
}

.content {
    display: flex;
    flex-flow: column;
    background-color: blue;

}

.information {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.info-pictures {
    display: flex;
    justify-content: center;
    flex-flow: 0 0 1500px;

}

.info-pic {
    border-style: solid;
    border-color: #3882F6;
    border-width: medium;
    border-radius: 7px;
    display: flex;
    flex-flow: column;
    background-color: white;
    flex: 0 0 100px;
    width: 100px;
}

.pic-1,
.pic-2,
.pic-3,
.pic-4 {
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 100px;
}

.quote-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 250px;
    background-color: #e5e7eb;
}

.quote-section p {
    display: flex;
    flex-flow: column wrap;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-family: 'Roboto', sans-serif;
    width: 800px;
    margin-bottom: 0;
}

strong {
    padding-left: 100px;
}



.subtext {
    font-size: 12px;
}