@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');


body {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100vh;
}

.first-section {
    display: flex;
    flex-flow: column wrap;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 0;
    padding-bottom: 3vh;
}

footer {
    display: flex;
    justify-content: center;

}

header,
footer {
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    /* margin-right: auto; */
    /* margin-left: 100px; */
}


a {
    text-decoration: none;
}

a,
footer,
.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 10px;
}

.Hero-section {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    align-items: center;
    gap: 20px;
    /*  flex: 0 0 36vh; */
    padding-bottom: 50px;
}

.hero-main-text {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0px;
}

.hero-secondary-text {
    margin-top: 0;
}

.hero-left {
    display: flex;
    flex-flow: column;
    flex: 0 1 30%;
    margin-left: 70px;

}

.hero-right {
    align-self: center;
    min-width: 0;
    /* align-items: center; */
    flex: 0 1 500px;
}

.hero-right img {
    background-color: gray;
    height: 150px;
    width: 72%;
}


button {
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    border-color: #3882F6;
    padding: 8px;
}


.information {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 300px;
}

.info-pictures {
    display: flex;
    justify-content: center;
    /* flex-flow: 0 0 1500px; */

}

.info-pic {
    border-style: solid;
    border-color: #3882F6;
    border-width: medium;
    border-radius: 7px;
    display: flex;
    flex-flow: column;
    background-color: white;
    flex: 0 0 100px;
    width: 100px;
}

.pic-1,
.pic-2,
.pic-3,
.pic-4 {
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 100px;
}

.quote-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /*  flex: 0 0 250px; */
    background-color: #e5e7eb;
}

.quote-section p {
    display: flex;
    flex-flow: column wrap;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-family: 'Roboto', sans-serif;
    width: 800px;
    margin-bottom: 0;
}

strong {
    padding-left: 100px;
}



.subtext {
    font-size: 12px;
}

.call-to-action-section {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;

    margin-left: auto;
    margin-right: auto;
    gap: 100px;
    padding: 15px;
    padding-left: 5%;
    padding-right: 5%;

}

.call-to-action-left {
    display: flex;
    flex-flow: column;
}

.call-to-action-section h2 {
    margin-bottom: 0px;
}

.call-to-action-section p {
    margin-top: 0px;
}

.call-to-action-section button {
    align-self: center;
    border-color: #F9FAF8;
    border-style: double;
    padding: 5px;
}